
  <div class="top-menu">
    <button>Home</button>
    <button>About Us</button>
    <button (click)="navigateToLogin('citizen')" routerLink="/login">Citizen Login</button>
    <button (click)="navigateToLogin('police')"  routerLink="/login" >Police Login</button>
    <!-- <button>e-FIR</button> -->
  </div>
  
  <div class="main-content">
    <!-- <div class="left-panel">
      <img src="assets/images/Image3.jpg" alt="Police Headquarters" />
    </div> -->
    
    <div class="center-panel">
      <img src="assets/images/Image4.jpg" alt="CID Headquarters Maharashtra State, Pune" />
    </div>
    
    <div class="right-panel">
      <div class="news-updates">
        <h2>News & Updates</h2>
        <ul>
          <li>Steps taken by Govt. of Maharashtra to ensure security of women</li>
          <li>Safety Tips</li>
          <li>Dakshata Magazine</li>
          <li>Forgot Password using registered mobile number</li>
        </ul>
      </div>
    </div>
  </div>
  
  