  /* Navbar styles */
  .topnavbar {
    display: flex;
    align-items: center;
    background-color: #008dcf;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
  }
  
  /* .navbar-logo img {
    height: 60px;
    margin-right: 15px;
  } */
  
  .navbar-title h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .navbar-title p {
    margin: 0;
    font-size: 16px;
  }
  
  .navbar-title small {
    font-size: 12px;
  }

  
  
  /* Top Menu styles */
  /* .top-menu {
    display: flex;
    justify-content: space-around;
    background-color: #4cc1e9;
    padding: 10px;
  }
  
  .top-menu button {
    background-color: #8bc34a;
    border-radius: 5px;
    border-color: #4cc1e9 ;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .top-menu button:hover {
     background-color: #d60b0b;
  } */